=provide(:title, 'Search/Add Users')
!!! 5
%html
  %head
    %h1 Search/Add Users

    = form_tag friends_path, :method => "GET" do

      = label :search, :lastName, 'Last Name'
      = text_field :search, :lastName
      %br
      = submit_tag 'Search'

    - if params.has_key?(:search)
      Searching for last name: #{params[:search][:lastName]}
      %br
      - if @matched_users.length == 0
        No users found!

    %table#matched_users
      %tbody
        - @matched_users.each do |matched_user|
          %tr
            %td= link_to "#{matched_user.first_name} #{matched_user.last_name}", profile_path(:userProfile => matched_user.id)
