=provide(:title, 'Create New Account')
%h1 Create New Account Page

= form_tag create_path do

  = label :user, :username, 'Username'
  = text_field :user, :username
  %br
  = label :user, :first_name, 'First name'
  = text_field :user, :first_name
  %br
  = label :user, :last_name, 'Last name'
  = text_field :user, :last_name
  %br
  = label :user, :password, 'Password'
  = password_field :user, :password
  %br
  = label :user, :password_confirmation, 'Confirm password'
  = password_field :user, :password_confirmation
  %br
  = label :user, :interests, 'Interests'
  = text_field :user, :interests
  %br
  = label :user, :quotes, 'Quotes'
  = text_field :user, :quotes
  %br
  = submit_tag 'Create Account'
