=provide(:title, 'Profile Page')

%h1 Profile Page
%br

%h3 Name: #{@profile_user.first_name} #{@profile_user.last_name}

%h4
  - if @type == 'friends'
    Interests: #{@profile_user.interests}
    %br
    %br
    Quotes: #{@profile_user.quotes}
    = form_tag post_path(:post_user=>@profile_user.id) do
      = label :post, :message, 'Message'
      = text_field :post, :message
      = submit_tag 'Post Message', :class => "btn btn-info"

    %table#matched_users
      %tbody
        - @posts.each do |post|
          %tr
            %td
              %h4= post.message

  - if @type == 'received_request'
    Friend Request Received!

  - if @type == 'requested'
    Friend Request Sent!

  - if @type == 'not_friends'
    = link_to 'Send friend request', send_request_path(:request_user => @profile_user.id)
